@use 'normalize';
@use 'fonts';
@use 'variables';
@use 'utils';
@use 'globals';

@use 'helpers' as *;

.b-training-media {
    display: flex;
    max-height: 370px;
    background-color: #F6F6F6;
    margin-bottom: 100px;

    @media (max-width: 1440px) {
        flex-direction: column;
        max-height: unset;
        margin-bottom: 60px;
    }
    @media (max-width: 767px) {
        margin-bottom: 40px;
    }

    .training-media {
        &__desc {
            width: 50%;
            padding: 40px 40px 50px;
            display: flex;
            flex-direction: column;

            @media (max-width: 1440px) {
                width: 100%;
                height: 370px;
            }
            @media (max-width: 767px) {
                padding: 30px 20px;
                height: 300px;
            }
        }
        &__video {
            width: 50%;
            max-height: 370px;
           
            @media (max-width: 1440px) {
                width: 100%;
            }
            @media (max-width: 767px) {
                max-height: 300px;
            }

            iframe {
                height: 370px;

                @media (max-width: 767px) {
                    height: 300px;
                }
            }
        }
        &__title {
            font-weight: 700;

            @include fluid-text(36, 20);
            // font-size: clamp(20px, 16.5569620253px + 1.0126582278vw, 36px);
            line-height: 38px;
        }
        &__link {
            margin-top: auto;

            a:link,
            a:visited {
                display: inline-block;
                padding: 15px 25px;
                @include fluid-text(20, 14);
                // font-size: clamp(14px, 12.7088607595px + 0.3797468354vw, 20px);
                border: 2px solid rgba(0, 155, 155, 0.6);
                border-radius: 100px;
                line-height: 1;
                white-space: nowrap;
                color: #009B9B;
                text-decoration: none;
                transition: all .3s ease;

                @media (max-width: 767px) {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    width: 100%;
                  }
            }

            a:hover {
                background-color: #009B9B;
                color: #fff;
            }
        }
    }
}

.container {
    max-width: 1400px;
    width: 100%;
    padding: 0 25px;
    margin: 0 auto;
    position: relative;
}


// ----------------------
